.controls-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
}

.controls-main {
  flex: 1;
}

.controls-content {
  margin: 0 $gutter-sm;
  display: flex;
  align-items: center;

  .section-controls & {
    display: none;
  }
}

.controls-actions {
  flex: 1;
  text-align: right;
}


@include response(from mobile) {
  .section-controls .controls-content {
    display: flex;
  }
}