//
// OFF SCREEN
//
// 1. Variables
// 2. Base styles
// 3. Showing panel
//

// 1. Variables

$offscreen-panel-width:       300px !default;
$offscreen-panel-top:         $layout-navigation-size + $section-controls-size !default;
$offscreen-panel-top-large:   $layout-navigation-size + $section-controls-size-large !default;
$offscreen-panel-move:        -$offscreen-panel-width / 2 !default;

// 2. Base styles

.offscreen-wrapper {
  position: relative;
  height: 100%;
}

.offscreen-aside,
.offscreen-content {
  transition: all 250ms;
}

.offscreen-aside {
  position: fixed;
  width: $offscreen-panel-width - $gutter/2;
  transform: translate3d($offscreen-panel-move,0,0);
  opacity: 0;
  pointer-events: none;
}

.offscreen-content {
  height: 100%;
}

// 3. Showing panel

.offscreen--show {

  .offscreen-aside {
    transform: translate3d(0,0,0);
    opacity: 1;
    pointer-events: auto;
  }

  .offscreen-content {
    margin-left: $offscreen-panel-width;
  }

}
