.navigation-item {
  > a {
    height: $navbar-height;
    padding: 0 $navbar-padding-horizontal;
    display: flex;
    align-items: center;

    &:hover {
      text-decoration: none;
    }
  }
}

.navigation-item__icon {
  display: flex;
}

.navigation-item__caret.caret {
  margin-top: 4px;
}

.navigation-item--with-text {
  .navigation-item__icon {
    margin-right: 8px;
  }
}
