$typography: (
  mega:     ( font-size:  56px, line-height: normal, letter-spacing:  -.1px, ),
  jumbo:    ( font-size:  44px, line-height: normal, letter-spacing: -.05px, ),
  display:  ( font-size:  34px, line-height: normal, letter-spacing:    0px, ),

  headline: ( font-size:  24px, line-height: normal, letter-spacing:    0px, ),
  title:    ( font-size:  20px, line-height: normal, letter-spacing:  .05px, ),
  subhead:  ( font-size:  18px, line-height: normal, letter-spacing:   .1px, ),

  body:     ( font-size:  16px, line-height:   24px, letter-spacing:   .1px, ),
  footnote: ( font-size:  13px, line-height:   16px, letter-spacing:   .2px, ),
  caption:  ( font-size:  12px, line-height:   16px, letter-spacing:   .2px, ),
  small:    ( font-size:  10px, line-height: normal, letter-spacing:   .2px, ),
) !default;

@mixin typography($name) {
  $properties: map-get($typography,$name);
  @include expose-map($properties);
}
