@import '~core/variables';

.component-example--Grid {
  // Time entry example
  .time-entry {
    width: 200px;
    background-color: #4cb07d;
    color: #fff;
    border-radius: $border-radius-medium-component;
    padding: $spacing-base;
    font-size: $font-size-caption;
    line-height: $line-height-caption;

    > div:first-child {
      opacity: 0.6;
    }

    > div:last-child {
      font-size: 1rem;
    }
  }

  // Calendar example
  .calendar {
    $day-padding: $spacing-base * 2;

    height: 300px;
    background-color: #fff;
    width: 100%;

    .calendar-day__head {
      font-size: 0.8rem;
      padding: $day-padding;
    }

    .calendar-day__body {
      padding: 0 $day-padding $day-padding $day-padding;
    }

    .calendar-day__date {
      font-weight: bold;
    }

    .calendar-day__duration {
      color: $default-secondary-text-color;
    }

    .calendar-day + .calendar-day {
      border-left: $default-divider-color solid 1px;
    }

    .time-entry {
      width: auto;
    }
  }

  // Properties playground example
  .properties-playground {
    width: 100%;
    background-color: #fff;
    padding: $spacing-base * 2;

    .properties-playground__grid {
      margin-top: $spacing-base * 2;
      height: 400px;

      > div {
        background: #4cb07d;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $spacing-base;
      }
    }
  }
}
