{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "arrow-parens": [0],
    "import/extensions": [0],
    "import/no-extraneous-dependencies": [0],
    "import/no-unresolved": [0],
    "jsx-a11y/href-no-hash": [0],
    "jsx-a11y/label-has-for": [0],
    "no-unused-expressions": [0],
    "react/jsx-closing-bracket-location": [2, { "nonEmpty": "props-aligned", "selfClosing": "tag-aligned" }],
    "react/jsx-curly-spacing": [2, "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": [0],
    "react/prop-types": [1],
    "react/forbid-prop-types": [0],
    "semi": [2, "never"]
  }
}
