
.block-round   {  border-radius:   3px !important; }
.block-rounded {  border-radius: 100px !important; }
.block-rect    {  border-radius:   0px !important; }

.font-strong   { font-weight: bold; }
.font-normal   { font-style: normal; }
.font-italic   { font-style: italic; }
