@import '~styles/core';

$background-color: rgba(#000, 0.05);
$foreground-color: $primary-color;

.Spinner {
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: baseline;
  border-radius: 50%;
  font-size: 1em;
  position: relative;
  border-style: solid;
  border-width: 0.1em;
  border-color: $background-color;
  border-left-color: $foreground-color;
  transform: translateZ(0);
  animation: spin 1s infinite linear;
}

.Spinner--force-color {
  border-left-color: $foreground-color !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
