@import '~styles/core';

.Section {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.Section__toolbar {
  border-bottom: #DBE1E6 solid 1px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;
  flex-shrink: 0;
}

.Section__contents {
  padding-top: $spacing-base * 4;
  flex: 1;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.Section--with-toolbar {
  .Section__contents {
    padding-top: $section-toolbar-height;
  }
}
