.block-round   {  border-radius:   3px !important; }
.block-rounded {  border-radius: 100px !important; }
.block-rect    {  border-radius:   0px !important; }

.stretch-view {
  position: absolute;
  top:      0;
  right:    0;
  bottom:   0;
  left:     0;
}

// [1] Without min-height:0 overflow scrolling doesn't work
.scrollable {
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  min-height: 0; // [1]
}
