@import '~styles/core';

$filters-width: 320px;
$toolbar-height: 60px;
$transition-duration: 200ms;

.TableContainer__toolbar__grid {
  height: $toolbar-height;
}

.TableContainer__toolbar__filters {
  position: absolute;
}

.TableContainer__toolbar__totals {
  color: $default-color;
  font-size: $font-size-subhead;
  line-height: $line-height-subhead;
  text-align: center;
  margin-left: 100px;
}

.TableContainer__toolbar__downloads {
  text-align: right;
}

.TableContainer__filters {
  position: fixed;
  left: -$filters-width;
  width: $filters-width;
  transition: left $transition-duration ease-out;
}

.TableContainer__contents {
  transition: margin-left $transition-duration ease-out;
}

.TableContainer--filters-visible {
  .TableContainer__toolbar__filters {
    position: fixed;
  }

  .TableContainer__filters {
    left: 0;
  }

  .TableContainer__contents {
    margin-left: $filters-width - $gutter;
  }
}

.TableContainer__link {
  border-radius: 20px;
  padding: 4px;
  transition: padding $transition-duration ease-out, background $transition-duration ease-out;
  font-size: $font-size-footnote;
  line-height: $line-height-footnote;

  &.TableContainer__link--active,
  &:hover {
    background: rgba($primary-color, 0.1);
    padding: 4px 10px;
    text-decoration: none;
  }
}
