@import '~styles/core';

$filters-width: 320px;
$transition-duration: 200ms;

.TableContainer__toolbar__grid {
  height: $table-section-toolbar-height;
}

.TableContainer__toolbar__filters {
  position: absolute;
}

.TableContainer__toolbar__totals {
  color: $default-color;
  font-size: $font-size-subhead;
  line-height: $line-height-subhead;
  text-align: center;
  margin-left: 100px;
}

.TableContainer__toolbar__downloads {
  text-align: right;
}

.TableContainer__filters {
  position: fixed;
  left: -$filters-width;
  width: $filters-width;
  transition: left $transition-duration ease-out;
}

.TableContainer__contents {
  transition: margin-left $transition-duration ease-out;
}

.TableContainer__filters-toggle {
  opacity: 1;
}

.TableContainer--filters-visible {
  .TableContainer__toolbar__filters {
    position: fixed;
  }

  .TableContainer__filters {
    left: 0;
  }

  .TableContainer__contents {
    margin-left: $filters-width;
  }

  .TableContainer__filters-toggle {
    opacity: 0;
  }
}
