.fa-10x {
  font-size: 10em !important;
}
.fa-spin {
  animation-duration: 600ms !important;
  line-height: 1 !important;
}
.fa-btn {
  margin: 0 -3px;
}


.modal-xxxx {
  background: red;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

