@import '~styles/core';

$transition-duration: 200ms;

.LayoutLink {
  border-radius: 20px;
  padding: 4px;
  transition: opacity $transition-duration ease-out,
    padding $transition-duration ease-out,
    background $transition-duration ease-out;
  font-size: $font-size-footnote;
  line-height: $line-height-footnote;
  white-space: nowrap;

  &.LayoutLink--active,
  &:hover {
    background: rgba($primary-color, 0.1);
    padding: 4px 10px;
    text-decoration: none;
  }
}
