.link {
  & {
    transition: all 250ms;
  }
  &:hover {
    text-decoration: none;
  }
}


.link-border {
  & {
    border-bottom: 1px solid dark-text-color(divider);
  }
  &:hover {
    border-color: dark-text-color(hint);
  }
}

.link-badge {
  & {
    border-radius: 20px;
    padding: 4px;
  }
  &:hover {
    background: rgba($color-accent,.1);
    padding: 4px 10px;
  }
}
