.navigation-item__icon {
  display: flex;
}

.navigation-item__caret.caret {
  margin-top: 4px;
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .navigation-item--top-level > a > .navigation-item__icon {
    margin-right: 0 !important;
  }
}

@media (min-width: $screen-sm-min) {
  .container-scroll {
    white-space: nowrap;

    .navbar-collapse {
      display: flex!important;
    }
  }

  .scroll-inline {
    display: flex!important;
    margin-right: auto;
    margin-left: auto;
  }
}

.navbar-collapse {
  max-height: 100%!important;
}

.header-button {
  margin-left: 15px;
}
