.navigation-item__icon {
  display: flex;
}

.navigation-item__caret.caret {
  margin-top: 4px;
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .navigation-item--top-level > a > .navigation-item__icon {
    margin-right: 0 !important;
  }
}

@media (min-width: $screen-md-min) {
  .container-scroll {
    white-space: nowrap;
    overflow-x: auto;
  }

  .scroll-inline {
    display: inline-flex!important;
  }
}
