@import '~styles/core';

.FiltersForm {
  height: 100%;
  display: flex;
  flex-direction: column;

  .control-label {
    text-transform: uppercase;
    color: #94A3B1;
    font-size: 10px;
    font-weight: 700;
  }

  .Select-control,
  .form-control {
    @include transparentInput();
  }
}

.FiltersForm__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}

.FiltersForm__contents,
.FiltersForm__submit {
  width: 100%;
}

.FiltersForm__contents {
  flex: 1;
  overflow: auto;
  padding-bottom: $gutter;
}

.FiltersForm__submit {
  flex-shrink: 0;
  padding-bottom: $gutter;
  position: relative;

  &:before {
    pointer-events: none;
    content: "";
    display: block;
    position: absolute;
    height: $gutter;
    top: -$gutter;
    left: 0;
    right: 12px;
    background-image: linear-gradient(-180deg, rgba($body-color, 0) 0%, $body-color 80%);
  }

  .btn {
    @include filtersButton();
  }
}

.FiltersForm__filters-toggle {
  height: $table-section-toolbar-height;
  display: flex;
  align-items: center;
}
