@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material';
@import '~styles/utils';
@import '~core/variables';

.playground {
  .CodeMirror {
    height: auto;
    padding: $spacing-base * 2;
    border-top-left-radius: $border-radius-medium-component;
    border-top-right-radius: $border-radius-medium-component;
  }

  .CodeMirror-scroll {
    overflow: visible !important;
  }

  .playgroundPreview {
    padding: $spacing-base * 2;
    border-bottom-left-radius: $border-radius-medium-component;
    border-bottom-right-radius: $border-radius-medium-component;
    background-color: $default-divider-color;
  }

  .previewArea {
    display: flex;
    justify-content: center;
  }
}

// Props table
.props-table {
  td p:last-child {
    margin-bottom: 0;
  }
}

// Component example
.component-example {
  .playgroundPreview {
    position: relative;
  }
}

.component-example + .component-example {
  margin-top: $spacing-base * 10;
}

// Component example overrides
.component-example--Navigation {
  .navbar {
    position: static;
  }
}

// Examples
.example {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
