@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material';
@import '~styles/utils';
@import '~core/variables';

.playground {
  display: flex;
  flex-direction: column;
}

.CodeMirror {
  height: auto;
  padding: $spacing-base * 2;
  border-top-left-radius: $border-radius-medium-component;
  border-top-right-radius: $border-radius-medium-component;
  font-size: $font-size-body;
  line-height: 1.2em;
}

.CodeMirror-scroll {
  overflow: visible !important;
}

.playgroundCode {
  order: 2;
}

.playgroundPreview {
  order: 3;
  padding: $spacing-base * 2;
  border-bottom-left-radius: $border-radius-medium-component;
  border-bottom-right-radius: $border-radius-medium-component;
  background-color: $default-divider-color;
}

.previewArea {
  display: flex;
  justify-content: center;
}

.playground.collapsableCode {
  .playgroundToggleCodeLink {
    display: inline-block;
    background: $primary-color;
    color: #fff;
    height: $spacing-base * 4;
    line-height: $spacing-base * 4;
    padding: 0 $spacing-base;
    border-radius: $border-radius-medium-component;
    cursor: pointer;
  }

  .playgroundToggleCodeBar {
    margin-bottom: $spacing-base;
    order: 1;
  }

  .playgroundCode:not(.expandedCode) {
    height: 0;
    overflow: hidden;

    .playgroundToggleCodeLink {
      position: absolute;
    }
  }
}

// Props table
.props-table {
  td p:last-child {
    margin-bottom: 0;
  }
}

// Component example
.component-example {
  .playgroundPreview {
    position: relative;
  }
}

.component-example + .component-example {
  margin-top: $spacing-base * 10;
}

.component-example:last-child {
  margin-bottom: 240px;
}

// Examples
.example {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

//TimeFlow
.header-button {
  width: 74px;
  text-align: center;
}

.header-help-button {
  text-align: center;
  font-size: 20px;

  p {
    display: inline-block;
    margin: 0 5px 0 0;
    font-size: 16px;
  }
}

.add-time-entry,
.add-time-entry:hover {
  font-size: 32px;
  background-color: #0F82F5!important;
  color: #FFFFFF!important;
  justify-content: center;
  line-height: 46px;
  width: 74px;
  height: 48px;

  .fa {
    font-size: 24px;

  }
}

.add-time-entry.with-icon {
  padding-bottom: 13px;
}

.navbar-brand img {
  margin: 0 auto;
}

.same-color {
  color: #fff!important;
}

.menu-left {
  left: auto!important;
  right: 0!important;
}
