@import '~styles/core';

.LoadingScreen {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.LoadingScreen__text {
  margin-top: 24px;
  color: $default-secondary-text-color;
}
