$color-brand:           #0E82F5 !default;
$color-highlight:       #FFF880 !default;
$color-accent:          $color-brand !default;

$color-primary:         $color-accent !default;
$color-secondary:       #5E7C8B !default;

$color-base:            tint($color-secondary,90%) !default;
$color-block:           #FFFFFF !default;

$color-text:            shade($color-brand,80%) !default;
$color-inverse:         #FFFFFF !default;



$color-success:         #5cb85c !default;
$color-info:            #5bc0de !default;
$color-warning:         #f0ad4e !default;
$color-danger:          #d9534f !default;
